<div class="container">
  <div class="row justify-content-center">
    <section class="col-6 text-center">
      <h1 class="text-uppercase">about</h1>
      <%= image_tag 'ellie-fichtelman.jpg', class: 'rounded-circle img-fluid', style: 'height: 15rem;'%>
      <p>Hi, I’m Ellie! I began my professional life in both the education and fashion industries before realizing that the things I value most in life are my time and freedom. A career in tech allows me to work from anywhere in the world on projects that interest me. I’ve completed web design, visual design, front-end development and branding courses at Skillcrush, an amazing online bootcamp targeted at women in tech. Now, I’m looking to work with creative types for a competitive fee to build my portfolio!</p>
    </section>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <section class="col-10 text-center">
      <h1 class="text-uppercase">services</h1>
      <p>I create websites, logos and brand style guides for small businesses, brands and entrepreneurs, prioritizing a blend of form and function without sacrificing one for the other. I believe in drawing users in using non-distracting design, then holding their attention with the most crucial information about a brand.</p>
      <div class="row">
        <div class="col-5 text-left">
          <h2 class="text-uppercase">create your brand</h2>
          <p>Develop your brand's image and personality with a logo, color scheme, typography, mission statement and more.</p>
        </div>
        <div class="col-5 text-left offset-2">
          <h2 class="text-uppercase">build your website</h2>
          <p>Code your website into existence with HTML, CSS, JavaScript and WordPress.</p>
        </div>
        <div class="col-5 text-left">
          <h2 class="text-uppercase">design your website</h2>
          <p>Plan how your site will look and function.</p>
        </div>
        <div class="col-5 text-left offset-2">
          <h2 class="text-uppercase">maintain your website</h2>
          <p>Keep bugs at bay and make adjustments when needed.</p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row justify-content-center">
  <section class="col-10 text-center">
    <h1 class="text-uppercase">work</h1>
    <div class="row">
      <div class="col-6 text-center">
        <%= image_tag 'criii-style-guide-thumbnail.png', class: 'img-fluid', style: 'height: 15rem;'%>
      </div>
      <div class="col-6 text-center">
        <%= image_tag 'rescue-me-thumbnail.png', class: 'img-fluid', style: 'height: 15rem;'%>
      </div>
    </div>
  </section>
</div>

<div class="row justify-content-center">
  <section class="col-6 text-center">
    <h1 class="text-uppercase">contact</h1>
    <h2 class="text-uppercase">get in touch</h2>
    <h2 class="text-uppercase">write a testimonial</h2>
  </section>
</div>
