<div class="container">
  <div class="row justify-content-center">
    <section class="col-6 text-center">
      <h1 class="text-uppercase">about</h1>
      <%= image_tag 'ellie-fichtelman.jpg', class: 'rounded-circle img-fluid', style: 'height: 15rem;'%>
      <p><%= lorem.sentences 5 %></p>
    </section>
  </div>
</div>
